<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <h1 class="ion-text-center">TechSolutions S.L.</h1>
    
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-list [inset]="true">
        <ion-item>
          <ion-input
            formControlName="email"
            type="email"
            label="Email"
            labelPlacement="floating"
            placeholder="email@domain.com"
            errorText="Email inválido"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            formControlName="password"
            type="password"
            label="Contraseña"
            labelPlacement="floating"
            placeholder="password"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-button 
        type="submit" 
        expand="block" 
        class="ion-margin-top"
        [disabled]="usuarioForm.invalid || isLoading"
      >
        <span *ngIf="!isLoading">Ingresar</span>
        <span *ngIf="isLoading">Cargando...</span>
      </ion-button>
    </form>
  </div>
</ion-content>
