  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .login-container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ion-color-primary);
  }