<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contactos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doLogout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar 
      placeholder="Buscar por nombre o email" 
      (ionInput)="onBuscar($event)"
      debounce="300"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true" lines="full">
    <ion-item 
      *ngFor="let contacto of contactosFiltrados" 
      [button]="true" 
      [detail]="true" 
      (click)="verDetalle(contacto.id)"
    >
      <ion-avatar slot="start" color="secondary">
        <span *ngIf="contacto.name" class="avatar-letra">
          {{ contacto.name[0].toUpperCase() }}
        </span>
        <ion-icon *ngIf="!contacto.name" name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ contacto.name }}</h2>
        <p>{{ contacto.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="contactosFiltrados.length === 0" class="ion-text-center ion-padding">
    <ion-note>No se encontraron contactos.</ion-note>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="irCrear()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
