  ion-avatar.avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--ion-color-secondary-contrast);
  }


  .avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ion-color-light-shade);
    border: 1px solid var(--ion-color-medium-shade);
  }
  .avatar-letra {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--ion-color-primary);
  }