  ion-avatar.avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--ion-color-secondary-contrast);
  }
  .avatar-letra {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--ion-color-secondary-contrast);
  }